<header>
    <article class="container menuGrid">
        <section class = 'credit24'><a href="#">Credit24</a></section>
        <section class = 'menuCard menuCard1'><a href="#"><%= partners %> </a></section>
        <section class = 'menuCard menuCard2'><a href="#"><%= schemeOfWork %> </a></section>
        <section class = 'menuCard menuCard3'><a href="#"><%= reviews %> </a></section>
        <section class = 'menuCard menuCard4'><a href="#"><%= quastionAnswer %> </a></section>
        <section class = 'menuCard menuCard5'><a href="#"><%= CreditConditions %> </a></section>
        <section class="biglanguage">
            <section class = 'language languageAdd'>RU</section>
            <section class = 'language'>EN</section>
        </section>
        <section class = 'menuforVsp'>
            <img src="../../img/palka.svg" alt="">
            <img src="../../img/palka.svg" alt="">
            <img src="../../img/palka.svg" alt="">
        </section>
    </article>
</header>
