<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/slider.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2? &display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&&display=swap" rel="stylesheet">
    <style>
        .headerand{
            background: linear-gradient(87.36deg, #CBE3E5 -1.98%, #F2DEA3 102.92%);
        }
    </style>
    <title>Credit24</title>
</head>
<body>
    <article class = 'headerand'>
        <%- include('const/header.ejs') %>  
        <article class = 'reclamaFlex container'>
            <section class = 'creditoform'>
                <section class="advertisement"><%= onlineWithout %> </section>
                <section class="sizeCredit"><%= sizeCredit %> </section>
                <section class="conditions">
                        <div class = 'num num1'>18</div>
                        <div class = 'text text1'><%= textCond1  %> </div>
                        <div class = 'num num2'>99%</div>
                        <div class = 'text text2'><%= textCond2  %> </div>
                        <div class = 'num num3'>2:00</div>
                        <div class = 'text text3'><%= textCond3  %> </div>
                </section>
                <button class = 'btnCredit'><%= arrangeButton %> </button>
                
            </section>
            <section class = 'imgBaba'>
                <img src="../img/baba.png" alt="">
            </section>
            <section class = 'stokForm'>
                <section class = 'promotionalRate'><%= PromotionalRate %> <span>0%</span> </section>
                <section class = 'advertisementCredit'><%= advertisementCredit %> </section>
                <section class = 'dataGrid'>
                    <section class="data days">00</section>
                    <section class="data hours">23</section>
                    <section class="data minuts">54</section>
                    <section class="data seconds">22</section>
                    <section class="word days"><%= days %> </section>
                    <section class="word hours"><%= hours %> </section>
                    <section class="word minuts"><%= minutes %> </section>
                    <section class="word rseconds"><%= seconds %> </section>
                </section>
            </section>
        </article>
    </article>

    <main>

            <!-- Тута слайдеры -->
            

        <article class = 'container partners'><%= ourPartners %> </article>

        <%- include('./const/slider.ejs') %> 

        <article class = 'schemeOfWork '>
            <section class = 'schemeText container'><%= SchemeOfWork %> </section>
            <section class = 'arrangeCreditGrid container'>
                <section class = 'num'>01</section>
                <section class = 'arrangeText'><%= onlineApli  %> </section>
                <section class = 'num'>02</section>
                <section class = 'arrangeText'><%= answerTheQuation  %> </section>
                <section class = 'num'>03</section>
                <section class = 'arrangeText'><%= getCredit %> </section>
                <button><%= arrangeButton %> </button>
            </section>
        </article>
        <article class="whyOurGrid container">
            <section class = 'whyOurText'><%= whyUs  %> </section>
            <section class = 'cardFlex card1'>
                <div><img src="../img/7.png" alt=""></div>
                <div class = text>Более 1 млн. оформленых кредитов</div>
            </section>
            <section class = 'cardFlex card2'>
                <div><img src="../img/8.png" alt=""></div>
                <div class = text>Банк популярен и за рубежом</div>
            </section>
            <section class = 'cardFlex card3'>
                <div><img src="../img/9.png" alt=""></div>
                <div class = text>Безопасные сделки</div>
            </section>
            <section class = 'cardFlex card4'>
                <div><img src="../img/10.png" alt=""></div>
                <div class = text>Банки по всей Москве</div>
            </section>
        </article>
        <article class = 'colorBackRaffle'>
            <article class="Raffle container">
                <section class = 'RaffleText'>
                    <h1>Розыгрыш</h1>
                    <h3>Заполни заявку и получи стильный смартфон или ноутбук</h3>
                    <h4>Eжемесячный розыгрыш
                        3х смартфонов Samsung Galaxy S9 и ноутбука yoga 720-15</h4>
                    <button>Заполнить заявку</button>
                </section>
                <section class = 'imgRaffle'><img src="../img/Comp.png" alt=""></section>
            </article>
        </article>

        <article class = 'ourClines container'>
            <h1 class ='reviews'>Отзывы</h1>
                <article class = 'slider2'>
                    <section class="slider_item">
                        <section class="cardGrid">
                            <section class = 'imgCliner'><img src="../img/11.png" alt=""></section>
                            <section class = 'infoCliner'>
                                <div class = 'name'>Михаил Новиков</div>
                                <div class = 'vilige'>г. Москва</div>
                                <div class ='prophetion'>Менеджер</div>
                            </section>
                            <section class = 'textCliner'><p>Взял кредит, хотя без доверия к банку. И очень удивлен, процентные ставки поразили.</p> 
                                
                                <p>Если придется еще взять, конечно сюда обращусь. Очень выгодно!</p> </section>
                        </section>
                    </section>
                    <section class="slider_item">
                        <section class="cardGrid">
                            <section class = 'imgCliner'><img src="../img/12.png" alt=""></section>
                            <section class = 'infoCliner'>
                                <div class = 'name'>Алексей Мастеров</div>
                                <div class = 'vilige'>г. Москва</div>
                                <div class ='prophetion'>Программист</div>
                            </section>
                            <section class = 'textCliner'><p>Таким образом сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных условий.</p> </section>
                        </section>
                    </section>
                    <section class="slider_item">
                        <section class="cardGrid">
                            <section class = 'imgCliner'><img src="../img/13.png" alt=""></section>
                            <section class = 'infoCliner'>
                                <div class = 'name'>Наталья Никифорова</div>
                                <div class = 'vilige'>г. Москва</div>
                                <div class ='prophetion'>Инквизитор</div>
                            </section>
                            <section class = 'textCliner'><p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития.</p> </section>
                        </section>
                    </section>
                    <section class="slider_item">
                        <section class="cardGrid">
                            <section class = 'imgCliner'><img src="../img/11.png" alt=""></section>
                            <section class = 'infoCliner'>
                                <div class = 'name'>Михаил Новиков</div>
                                <div class = 'vilige'>г. Москва</div>
                                <div class ='prophetion'>Менеджер</div>
                            </section>
                            <section class = 'textCliner'><p>Взял кредит, хотя без доверия к банку. И очень удивлен, процентные ставки поразили.</p> 
                                
                                <p>Если придется еще взять, конечно сюда обращусь. Очень выгодно!</p> </section>
                        </section>
                    </section>
                    <section class="slider_item">
                        <section class="cardGrid">
                            <section class = 'imgCliner'><img src="../img/12.png" alt=""></section>
                            <section class = 'infoCliner'>
                                <div class = 'name'>Алексей Мастеров</div>
                                <div class = 'vilige'>г. Москва</div>
                                <div class ='prophetion'>Программист</div>
                            </section>
                            <section class = 'textCliner'><p>Таким образом сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных условий.</p> </section>
                        </section>
                    </section>
                    <section class="slider_item">
                        <section class="cardGrid">
                            <section class = 'imgCliner'><img src="../img/13.png" alt=""></section>
                            <section class = 'infoCliner'>
                                <div class = 'name'>Наталья Никифорова</div>
                                <div class = 'vilige'>г. Москва</div>
                                <div class ='prophetion'>Инквизитор</div>
                            </section>
                            <section class = 'textCliner'><p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития.</p> </section>
                        </section>
                    </section> 
                </article>
        </article>
        <article class = 'howMuchUsColor'>
            <article class = 'howMuchUsFlex'>
                <section class = 'number'>
                    <h1>250 000+</h1>
                    <h2>Клиетов воспользовались нашими услугами</h2>
                </section>
                <section class = 'imgHowMuchUs'><img src="../img/peoples.png" alt=""></section>
            </article>
        </article>
        <article class = 'textAllConditions container'>
            <article class = 'creditConditions '>
                <section class ='baba2'>
                    <img src="../img/baba2.png" alt="">
                </section>
                <section class = 'texesCreditConditions'>
                    <h1>Условия кредитования</h1>
                    <section class="galkaText">
                        <img src="../img/galka.svg" alt="">
                        <p>Сумма кредита или кредитного лимита от 500 до 500 000 грн.</p>
                    </section>
                    <section class="galkaText">
                        <img src="../img/galka.svg" alt="">
                        <p>Без залога и поручителей</p>
                    </section>
                    <section class="galkaText">
                        <img src="../img/galka.svg" alt="">
                        <p>Все регионы Украины кроме АРК</p>
                    </section>
                    <section class="galkaText">
                        <img src="../img/galka.svg" alt="">
                        <p>Срок от 61 дня до 5 лет</p>
                    </section>
                    <section class="galkaText">
                        <img src="../img/galka.svg" alt="">
                        <p>Ставка от 0,01%</p>
                    </section>
                    <section class="galkaText">
                        <img src="../img/galka.svg" alt="">
                        <p>Возраст от 18 до 79 лет</p>
                    </section>
                    <section class="galkaText">
                        <img src="../img/galka.svg" alt="">
                        <p>Кредит на любые цели</p>
                    </section>
                    <section class="galkaText">
                        <img src="../img/galka.svg" alt="">
                        <p>Максимальная годовая процентная ставка, включающая ссудный процент, а также все остальные комиссии и расходы за год - не более 29,99%</p>
                    </section>
                    <button>Кредитный калькулятор</button>
                </section>
            </article>
        </article>
        <article class = 'quastion_answer container'>
            <h1>Вопросы- ответы </h1>
            <article class="quationTexts">
                <section class="quation">
                    <p >Вероятность получения кредитной карты или кредита?</p>
                    <img src="../img/strelka_down.svg" alt="">
                    <p class = 'opacityText'>При оформлении кредитной карты или кредита через сервис credit24.org.ua
                        Вы не оплачиваете НИКАКИХ
                        дополнительных комиссий.</p>
                </section>
            </article>
            <article class="quationTexts">
                <section class="quation">
                    <p class = 'quationOpice'>Как быстро я получу кредитную карту или кредит?</p>
                    <img src="../img/strelka_down.svg" alt="">
                    <p class = 'opacityText'>При оформлении кредитной карты или кредита через сервис credit24.org.ua
                        Вы не оплачиваете НИКАКИХ
                        дополнительных комиссий.</p>
                </section>
            </article>
            <article class="quationTexts">
                <section class="quation">
                    <p class = 'quationOpice'>Комиссия за оформление кредитной карты или кредита?</p>
                    <img src="../img/strelka_down.svg" alt="">
                    <p class = 'opacityText'>При оформлении кредитной карты или кредита через сервис credit24.org.ua
                        Вы не оплачиваете НИКАКИХ
                        дополнительных комиссий.</p>
                </section>
            </article>
            <article class="quationTexts">
                <section class="quation">
                    <p class = 'quationOpice'>На какие цели я могу использовать кредитные средства?</p>
                    <img src="../img/strelka_down.svg" alt="">
                    <p class = 'opacityText'>При оформлении кредитной карты или кредита через сервис credit24.org.ua
                        Вы не оплачиваете НИКАКИХ
                        дополнительных комиссий.</p>
                </section>
            </article>
            <article class="quationTexts">
                <section class="quationq">
                    <article class = 'quation'>
                        <p class = 'quationOpice'>Какова окончательная процентная ставка по кредиту?</p>
                        <img src="../img/strelka_down.svg" alt="">
                        <p class = 'opacityText'>При оформлении кредитной карты или кредита через сервис credit24.org.ua
                        Вы не оплачиваете НИКАКИХ
                        дополнительных комиссий.</p>
                    </article>
                </section>
            </article>
            <article class="quationTexts">
                <section class="quation">
                    <p class = 'quationOpice'>Как минимизировать стоимость обслуживания кредита?</p>
                    <img src="../img/strelka_down.svg" alt="">
                    <p class = 'opacityText'>При оформлении кредитной карты или кредита через сервис credit24.org.ua
                        Вы не оплачиваете НИКАКИХ
                        дополнительных комиссий.</p>
                </section>
            </article>
        </article>
    </main>
            
    <%- include('const/footer.ejs') %> 
    <script src="../js/scripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="../js/jquery.maskedinput.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/sliderPartners.js"></script>
</body>
</html>